
.Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
   
  }
  .parentContainer{ 
    gap: 10px;
    width: 20%;
    
    background-color: rgb(227, 238, 229); 
   
    
   
  }
  .Cards > img{
    width: 20%;
    height: 20%;
  }
  
  