.card-img{
  width: 200px;
  height: 300px;

}
.movie-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: translateY(-5px);
}


.card {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 0 10px #e0e0e0;
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card-title {
  font-weight: bold;


}


.btnn {
  background-color: #dc3545;
  border: none;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination > .active > a {
  background-color:#2d35c8;
  border-color: #333131;
  border-radius: 5px;
  color: white !important;
}

.pagination > .page-item > .page-link {
  color: black ;
}

.pagination > .page-item > .page-link:hover {

  border-color: #2d35c8;
}
