.inputfield{
    height: 100px;
    
    align-items: center;
    justify-content: center;
   

}
.dropdownitems{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    /* background-color: rgb(133, 151, 233); */
}
select1::-ms-expand {
    display: none;
  }
  .select1 {
    position: relative;
    display: flex;
    
    width: 10em;
    height: 2em;
    line-height: 2;
    /* background: #5c6664; */
    /* overflow: hidden; */
    border-radius: .25em;
  
    
  }

  
  .select1::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #c9c9d3;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
  }
  .select1:hover::after {
    color: #474a4a;
  }
  select {
    /* -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none; */
    outline:0;
    box-shadow:none;
    border:1!important;
   
    
    background:rgb(215, 230, 221); 
    
    flex: 1; 
    color:black;
    padding-left: 10px;
    cursor:pointer;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif; 
  }


  