input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border-radius: 5px;
    color: white;
    padding: 1px 32px;
    height: 40px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    margin-left: 50px;
    height: 40px;
    /* border: 2px solid #4CAF50; */
    border:2px solid
  }

  .btnclass{
    display: flex;
    width: 300px;

    margin-left:60%;
    
  }
  .prclass{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 20px;
    
  }
  .p1class{
    width: 39%;
    height: 70%;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    
  }
  .p2class{
    width: 39%;
    justify-content: center;
    align-items: center;
   
  }
  .headingclass{
    width:100%;
    display: flex;
    margin-left: 11%;
   
  }
  .bi-sun{
    margin-left: 50%;
    color: #ffc107;
  }