
.maindiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(102, 87, 57);
  border-radius: 8px;
}

.fielddiv {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;


}

.Headerborders {
  border-radius: 8px;
  border: 2px solid rgb(231, 215, 140) !important;
}


.headfont {
  color: white;
  font-weight: 900;
  font-size: 30px;
}


.headerButton {
  border-radius: 50px;
  height: 35x;
  margin-right: 50px;
  color: white;

}

.headersfild {
  width: 30% !important;
  height: 40px;
  margin-top: 16px;
  margin-right: 10px;
}